<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		  
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <title>hailait + nylhakus = lubof</title>
</head>
<body>
<!-- ПОТОЛОК САЙТА -->
<header>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <div class="container-fluid px-5 mt-2">
                <a class="fw-bolder text-white mb-2 navbar-brand px-5" href="/"
                   style="font-size: 25px; display: flex; align-items: center;">
                    <img src="../static/images/icon.svg" alt="hailait + nylhakus = lubof logo"
                         style="width: 32px; height: 32px; margin-right: 10px;">
                    hailait + nylhakus = lubof
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-white">
                        <li class="nav-item" style="margin-right: 12px; font-size: 20px;">
                            <a class="icon-link nav-link nav-item text-white" href="https://discord.gg/Nby2ZQdMeH">
                                <i class="fa fa-shopping-cart text-center mr-1"></i>Поддержка</a>
                        </li>
                        <li class="nav-item" style="margin-right: 12px; font-size: 20px;">
                            <a class="icon-link nav-link nav-item text-white" href="/login">
                                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16"
                                     viewBox="0 0 512 512"></svg>
                                {{ cabinetlabel }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>

<!-- ВНУТРЕННЯЯ ЧАСТЬ -->
<div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0, 0, 0, 0); z-index: 1;">
        <div class="container-xl overlay">
            <div class="row align-items-center justify-content-center" style="margin-top: 25%;">
                <div class="col-lg-5 col-xl-7 col-xxl-6">
                    <h1 class="fw-bolder mb-2 gex logo" style="font-size: 40px;">hailait + nylhakus = lubof</h1>
                    <p class="lead fw-normal mb-1 gex text-white" style="font-size: 20px; font-family: 'Gilroy', sans-serif;">Предоставляем вам клиент для Minecraft, который гарантирует самые насыщенные и захватывающие впечатления от игры</p>
                    <p class="lead fw-normal mb-5 gex fw-bolder" style="font-size: 14px; color: #B1B2B1; font-family: 'Gilroy', sans-serif;">
                        Наслаждайтесь игрой на новом уровне.
                    </p>
                    <a class="icon-link btn btn-grad px-3 text-white" href="/login">
                        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="#ffffff" d="M160 112c0-35.3 28.7-64 64-64s64 28.7 64 64v48H160V112zm-48 48H48c-26.5 0-48 21.5-48 48V416c0 53 43 96 96 96H352c53 0 96-43 96-96V208c0-26.5-21.5-48-48-48H336V112C336 50.1 285.9 0 224 0S112 50.1 112 112v48zm24 48a24 24 0 1 1 0 48 24 24 0 1 1 0-48zm152 24a24 24 0 1 1 48 0 24 24 0 1 1 -48 0z"/></svg>
                        Купить
                    </a>
                    <a class="icon-link btn btn-other px-3 text-white" href="https://discord.gg/Nby2ZQdMeH">
                        Подробнее
                        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="#ffffff" d="M217.9 105.9L340.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L217.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1L32 320c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM352 416l64 0c17.7 0 32-14.3 32-32l0-256c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l64 0c53 0 96 43 96 96l0 256c0 53-43 96-96 96l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32z"/></svg>
                    </a>
                </div>
                <br></br>
                <br></br>
                <div class="col-xl-5 col-xxl-5 d-none d-xl-block text-center">
					 <img src="../static/images/icon.svg" alt="hailait + nylhakus = lubof logo" style="width:350px; height:350px;">
                    <!-- <iframe class="video2" src="https://www.youtube.com/embed/WPLOajvUcII" style="height:360px; width:720px;" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe> -->
                </div>
            </div>
        </div>
    </div>
<!-- НИЖНЯЯ ЧАСТЬ -->
<div class="container2">
    <h1>ВИДЕОБЗОР ОТ СОЗДАТЕЛЯ</h1>
</div>
<div class="container">
    <iframe class="video" src="https://www.youtube.com/embed/WPLOajvUcII" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
</div>


<div class="container3">
    <div class="row">
        <div class="box box1"><img src="../static/images/member2.png" height="50px" width="50px" float="left">
            <p>Пользователей</p></br><p class="p1">{{ member }}</p></div>
        <div class="box box2"><img src="../static/images/play2.png" height="50px" width="50px" float="left">
            <p>Запусков клиента</p></br><p class="p1">1488</p></div>
        <div class="box box3"><img src="../static/images/update2.png" height="50px" width="50px" float="left">
            <p>Обновлений вышло</p></br><p class="p1">%13.38</p></div>
        <div class="box box4"><img src="../static/images/data2.png" height="50px" width="50px" float="left">
            <p>Дней с открытия</p></br><p class="p1">-1488</p></div>
    </div>
</div>
<!-- ПОДВАЛ -->
<div style="justify-content: center; margin-top:100px; text-align:center;">
    <p>&copy; 2024 hailait + nylhakus = lubof. All rights reserved.</p>
	<p>&copy; Design: c0tax</p>
</div>

</body>
</html>